.app-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: cornflowerblue;
}

.borbimg {
  position: fixed;
  top: 30%;
  left: 65%;
}

.resultsDiv {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .recipe {
    width: 30rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    padding: 2rem;
    position: relative;
    border-radius: 0.5rem;
    
  }
  
  .recipe h2 {
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
    right: 2.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
  }
  
  .recipe img {
    border-radius: 0.5rem;
    width: 30rem;
    max-height: 300px;
    object-fit: contain;
    object-fit: cover;
  }
  
  .recipe a {
    font-size: 1.8rem;
    color: #40b48e;
  }